{% extends 'main/base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome To Code Ecommerce</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
                <p align="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus massa nibh, consectetur ac odio at,
                venenatis scelerisque mauris. Pellentesque auctor auctor sem, quis bibendum ante. Nunc quis suscipit
                ligula, egestas dapibus neque. Nunc cursus varius condimentum. Nam vitae orci nec purus placerat tempor.
                Sed laoreet lectus non diam malesuada, non vulputate purus blandit. Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus cursus pharetra risus sed
                posuere. Praesent finibus tellus nec sapien vehicula, id varius nisi molestie. Aliquam erat volutpat.
                Maecenas feugiat viverra velit. In varius, dui et convallis lacinia, velit risus vulputate sapien, a
                euismod felis lectus in libero. Etiam laoreet elit eros. Donec scelerisque mauris ut dui pretium
                interdum. Nam viverra efficitur ex, sed efficitur velit porttitor nec.
                <br/><br/>
                Nullam eu diam vel neque scelerisque convallis. Donec vestibulum ullamcorper tempus. Ut imperdiet odio
                vel risus scelerisque ultricies. Aliquam fringilla dictum libero, ultrices molestie augue molestie et.
                Duis et massa eu ipsum elementum maximus nec non massa. Nam bibendum, velit at lobortis lobortis, urna
                dolor scelerisque urna, et commodo dui libero ac nulla. Duis ut mi pulvinar, dictum justo in, malesuada
                nunc. Sed vel enim fringilla, vestibulum ipsum sit amet, sodales sem. Nullam sodales, elit id venenatis
                pretium, nunc erat iaculis ligula, pellentesque luctus tellus ante eu mi. Integer venenatis volutpat
                odio. Integer non laoreet tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                per inceptos himenaeos. Proin ante lorem, laoreet et magna id, porttitor condimentum tortor. Nam quis
                libero aliquet, scelerisque nisl et, cursus mauris.

                Quisque aliquet nulla mauris, sit amet suscipit risus vestibulum eu. Mauris posuere dolor vel purus
                aliquam fermentum. Suspendisse potenti. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                Morbi fringilla non neque vel rutrum. Sed quis nulla bibendum, finibus ligula sed, pellentesque massa.
                Duis vestibulum imperdiet ipsum. Phasellus laoreet velit a luctus luctus. Curabitur blandit, ligula
                aliquam faucibus commodo, neque eros tempus nulla, a dignissim ex odio in nisl. Nulla facilisi.
                </p>
                <br/><br/>
            </div>
        </center>
    </div>
</div>
{% endblock %}